@import 'https://fonts.googleapis.com/css?family=Orbitron';

header h1, noscript h3 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.hline {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #333;
}

nav {
    padding: 20px 0px;
}

nav a {
    padding: 0px 15px;
}

nav a:link {}
nav a:visited {color: orange;}
nav a:hover {font-weight: bold;}
nav a:active {text-decoration: none;}

footer p {
    text-align: center;
    line-height: 1.5em;
}

footer {
    float: left;
    width: 100%;
}

a {font-size: 20px;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {border-color: #333; border-bottom-color: transparent;}
.nav-tabs {border-bottom: 1px solid #333;}
.page-header h1 {font-size: 26px;}

/*.carousel {margin-bottom: 0.5em;}*/
.hidden {display: none;}
.visible {display: visible;}
