@import 'https://fonts.googleapis.com/css?family=Orbitron';

header h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.hline {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

nav {
    padding: 20px 0px;
}

nav a {
    padding: 0px 15px;
}

footer p {
    text-align: center;
    line-height: 1.5em;
}

footer {
    float: left;
    width: 100%;
}
